/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
  body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightyellow;
    
  }

  h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  button{
    font-size: 2.5rem;
    margin: 10px;
    
    
    
    
  }

  span{
    font-size: 2rem;
    font-weight: bold;
    
    float: left;
    width: 100%;
  }

  #gameContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin: 10px auto;
    
    
  }
  #categoryRow{
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
   
  }

  #clueBoard{
    flex-direction: column;
    
}

.clueRow{
  display: flex;
  
}

.clueBox{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  background-color: blue;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 5px;
  margin: 5px;
  height: 100px;
  flex: 1;
  text-transform: uppercase;

}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
